* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#app{
    background: linear-gradient(to bottom, 
                                 rgba(214, 214, 214, 0.4) 0%,
                                 rgba(83, 81, 81, 0.9) 100%), 
                                   url(images/school1.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
  
.add-movie form{
    padding: 2% auto;
    margin: 0 auto;
    font-family: roboto;
}

form h1{
  text-align: center;
  margin-bottom: 10px;
  color: rgb(228, 196, 19);
  font-family: 'Cinzel', serif;
}

form, .movie-card {
  padding: 1% 5%;
  margin: 0 auto;
  width: 40%;
  border: 3px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.movie-card{
  margin-top: 5px;
}

.title{
  margin-top: 15px;
}

.slider{
  width: 50%;
  height: 15px;
  border-radius: 50%;
}

.genre{
  margin-top: 19px;
}

.add-movie input[type=text]{
  border: 1px solid #ddd;
  height: 30px;
  width: 100%;
  margin-top: 5px;
  display: flex;
  padding: 2%;
}

.add-movie textarea{
  width: 100%;
  height: 100px;
  margin-top: 5px;
  padding: 2%;
  display: flex;
}
  
.current-rating {
  margin-left: 30px;
}

.movie-card {
  cursor: pointer;
  background-color: rgb(228, 196, 19);
}

.movie-card img{
  width: 60%;
  padding: 2% 1%;
  border-radius: 15px;
}

.movie-card h3 {
  display: inline-block;
  margin: 5px;
}

.card-rating {
  float: right;
}

.card-genre {
  float: right;
  display: block;
}

button{
  marg
  margin-top: 5px;
  width: 70px;
  height: 30px;
  border: 1px solid #ddd;
  background-color:  rgb(228, 196, 19);
}

button:hover{
  cursor: pointer;
  background-color: #ddd;
}

/* Only when less than or equal to 800px in width */
@media (max-width: 800px) {
  .add-movie form{
    width: 95%;
  }
  .movie-card{
    width: 95%;
  }
}
/*
  Only on screens less than or equal to 800px in width,
  but wider than 500px
*/
@media screen and (max-width: 800px) and (min-width: 501px) {
  .movie-card{
    width: 95%;
  }
}
/* Only when printing */
@media print {
  p {
    color: blue;
  }
}
/* Only on screens in portrait mode */
@media screen and (orientation: portrait) {
  .movie-card{
    width: 95%;
  }
}