* {
    box-sizing: border-box;
}

body{
    background-image:url(images/school1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
  
form{
    height: 300px;

}
  form, .movie-card {
      margin: 0 auto;
    padding: 20px;
    width: 50%;
    
    border: 3px solid rgb(32, 216, 109);
    border-radius: 10px;
    background-color: rgb(255, 0, 13);

  }
  
  .current-rating {
    margin-left: 30px;
  }
  
  .movie-card {
    cursor: pointer;
    background-color: rgb(206, 238, 28);
  }
  
  .movie-card h3 {
    display: inline-block;
    margin: 0;
  }
  
  .card-rating {
    float: right;
  }
  
  .card-genre {
    float: right;
    margin: 0;
  }
  